<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe</title>
    <link rel="stylesheet" href="{% static 'games/tic_tac_toe.css' %}"> <!-- Link to CSS file -->
</head>
<body>
    <!-- Main page wrapper -->
    <div id="wrapper">
        
        <button id="back-button" onclick="goback()"> Back </button>

        <!-- Music -->
        <audio id="background-audio" autoplay loop>
            <source src="{% static 'games/tic-tac-toe-music.mp3' %}" type="audio/mp3">
        </audio>

        <!-- Everything in the game -->
        <div class="game-container">

            <h1>TIC TAC TOE</h1>
            <div class="message"></div>
            <div id="tic-tac-toe-board">
                <div class="cell" data-index="0"></div>
                <div class="cell" data-index="1"></div>
                <div class="cell" data-index="2"></div>
                <div class="cell" data-index="3"></div>
                <div class="cell" data-index="4"></div>
                <div class="cell" data-index="5"></div>
                <div class="cell" data-index="6"></div>
                <div class="cell" data-index="7"></div>
                <div class="cell" data-index="8"></div>
            </div>

            <!-- Reset Button -->
            <button id="reset-button">Reset Game</button>

            <!-- Audio Controller -->
            <div class="audio-controls">
                <button onclick="toggleAudio()">Play/Pause Sound</button>
                <input type="range" id="volume-control" min="0" max="1" step="0.01" onchange="changeVolume(this.value)" value="1">
            </div>

        </div>
    </div>
    <script src="{% static 'games/tic_tac_toe.js' %}"></script>
    <script src="{% static 'games/global_functionality.js' %}"></script>
</body>
</html>